.shortButton {
  width: 7rem;
  height: 3rem;
}

.longButton {
  width: 7rem;
  height: 3rem;
}

.dataButton {
  --space: calc(var(--button-size) / 5.5);
  --icon-size: calc(var(--space) * 2);
  --text-size: calc(var(--button-size) - var(--icon-size));

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  border: 1px solid transparent;
  border-radius: 12px;
  background: linear-gradient(45deg, #efad21, #ffd60f);

  box-shadow:
    #3c40434d 0 1px 2px 0,
    #3c404326 0 2px 6px 2px,
    #0000004d 0 30px 60px -30px,
    #34343459 0 -2px 6px 0 inset;

  cursor: pointer;

  outline: none;

  transition: transform 0.2s;
}

.dataButton:active {
  transform: scale(0.95);
}

.dataButton-icon {
  position: absolute;
  z-index: 10;

  width: var(--icon-size);
  height: var(--icon-size);

  top: calc(var(--text-size) / 7);
  left: calc(var(--text-size) / 7);

  overflow: visible;

  color: #ffea50;

  transition:
    width 0.3s,
    height 0.3s,
    left 0.3s,
    top 0.3s,
    color 0.3s;

  animation: pulse 2s infinite;
}

.dataButton:hover .dataButton-icon {
  width: var(--text-size);
  height: var(--text-size);

  left: calc(var(--text-size) / 4);
  top: calc(var(--icon-size) / 2);

  color: white;
}

.dataButton-text {
  font-size: var(--text-size);
  font-weight: 800;
  line-height: 1;

  color: white;

  transition: opacity 0.2s;
}

.dataButton:hover .-text {
  opacity: 0;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }
}