.shortButton {
  width: 7rem;
  height: 3rem;
}

.longButton {
  width: 7rem;
  height: 3rem;
}

.dataButton {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  --space: calc(var(--button-size) / 5.5);
  --icon-size: calc(var(--space) * 2);
  --text-size: calc(var(--button-size) - var(--icon-size));

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  border: 1px solid transparent;
  border-radius: 12px;
  background: linear-gradient(45deg, #efad21, #ffd60f);

  box-shadow:
    #3c40434d 0 1px 2px 0,
    #3c404326 0 2px 6px 2px,
    #0000004d 0 30px 60px -30px,
    #34343459 0 -2px 6px 0 inset;

  cursor: pointer;

  outline: none;


}